/*made by Frieder Schmidt last change 3.8.2023*/

:root {
    --bg: black;
    --bgHeader: #08004d; 
    --button: rgb(168, 15, 15);
    --text: #fff;
}

html, body {
    margin: 0; 
    height: 100%;
    background-color: var(--bg);
}

header {
    height: 80;
    background: var(--bgHeader);
}
header img {
    padding: 10;
    width: 60;
    height: 60;
}
header ul{
    display:flex;  
    list-style:none;
    margin-left: 300;
    margin-top: -55;

}
header a{
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25;

    display: block;
    padding-left: 30;
    text-decoration: none;

    
}
#TEST{
    text-decoration: none;
    padding-left: 30;
    padding-top: 30;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);
    background-color: var(--button);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 50;
    margin-top: 50;
    border: var(--button);
    border-radius: 30px;
    font-weight: bolder;
    font-size: large;
}